<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
</head>
<body>
<div class="contenedor">

  <details class="desplegable-info-proyecto">
    
    <summary class="titulo-about">
      SOBRE TU Y YO 
    </summary>
    
    <div class="contenido-desplegado">
        <p>
           HOLA HOLA CAMBIO El Programa de Verano 'Impulsa' es una iniciativa dirigida por educadores especializados en pedagogía de apoyo, comprometidos con la idea de que la paciencia y la atención individualizada son clave para superar el rezago académico. Nuestra metodología se centra en la evaluación diagnóstica precisa para crear Planes de Aprendizaje Individuales (PAI), proporcionando así un puente efectivo entre las dificultades pasadas y el éxito futuro, todo ello mientras reforzamos la autoestima y el entusiasmo por aprender
        </p>
    </div>
    
  </details>
  </div>
</body>
</html>
    