<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

</head>
<body>
    <header class="navbar-header">
    <div class="navbar-content">
        <a href="navbar.html" class="logo no-margin centrar-texto" (click)="oMateriasClick()">
            <h1 class="logo__nombre no-margin centrar-texto">Gestor <span class="logo__bold">Académico</span></h1>
        </a>
        <nav class="navegacion">
            <ul class="nav-list">
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/estudiantes" routerLinkActive="active">Estudiantes</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/materias" routerLinkActive="active">Materias</a></li>
    </ul>
        </nav>
    </div>
    <button class="btn btn-success">Bootstrap funcionando</button>
</header>
</body>
</html>
