
.navbar-header {
    background-color: #f1f1ee; 
    padding: 15px 0;
    width: 100%; 
    box-shadow: 0 2px 4px rgba(48, 46, 46, 0.2); 
}

.navbar-content {
    display: flex;
    align-items: center; 
    max-width: 1200px;
    margin: 0 auto; 
    padding: 0 20px;
    justify-content: space-between; 
}

.logo { 
    text-decoration: none; 
}

.logo__nombre {
    color: #fc71a4;
    font-family: var(--fuentePrincipal);
    font-size: 1.8em;
    font-weight: 400;
    margin: 0;
}

.logo__bold {
    font-weight: 700;
    color: #ec4c86; 
}

.navegacion {
    display: flex; 
    align-items: center;
    justify-content: space-around; 
    width: 400px; 
}

.navegacion__enlace {
    font-size: 1.1em;
    text-decoration: none; 
    padding: 8px 10px;
    text-transform: uppercase;
    flex-grow: 1; 
    text-align: center;
    border-radius: 4px;
    transition: color 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

.navegacion__enlace:hover {
    background-color: #d2d2a2; 
}