<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
<div class="contenedor">

  <details class="desplegable-info-proyecto">
    
    <summary class="titulo-about">
      INICIEMOS!
    </summary>
    
    <div class="contenido-desplegado">
        <p>
           ¡Bienvenido al Programa de Verano 'Impulsa'! Si su hijo necesita un refuerzo adicional para consolidar los conocimientos fundamentales de Lenguaje y Matemáticas antes del próximo ciclo escolar, ha llegado al lugar correcto. Ofrecemos un entorno de aprendizaje positivo, libre de la presión escolar y con grupos reducidos, diseñado para transformar los desafíos académicos en la confianza y las habilidades necesarias para un futuro escolar exitoso. Inscríbase hoy para dar el impulso que su hijo necesita
        </p>
    </div>
    
  </details>
  </div>
</body>
</html>
    